.filter-container{
    display: flex;
    justify-content: center;
    background-color: #e9d8fd;
    width: 100%;
    height: 5vh;
    margin: 1vw 0;
}
.filter-container > * {
    margin: 0 1vw;
}
.filter-container > button {
    min-height: 15px;
    border-radius: 10%;
    width: 3rem;
    height: 100%;
    color: #e9d8fd;
    background-color: #9f7aea;
    cursor: pointer;
}